.main {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 92px;
  overflow: hidden;
}
.main h4 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -1px;
}
.main-wrap-banner {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.main-wrap-banner .banner {
  display: flex;
  height: 58px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #f8f8f8;
}
.main-wrap-banner img {
  width: 34px;
  margin-right: 10px;
}
.main-wrap-banner span {
  margin-right: 10px;
}
.main-wrap-banner span b {
  color: #06f;
}
.main-wrap-banner svg {
  color: #bbb;
  font-size: 20px;
}
.main-link-wrap {
  display: flex;
  margin-bottom: 50px;
}
.main-link {
  display: flex;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.main-link li {
  border-radius: 10px;
  min-width: 116px;
  transition: all 0.3s;
  overflow: hidden;
}
.main-link .icon-box {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.main-link li svg {
  width: 100%;
  height: 100%;
}
.main-link li:hover {
  background: #f5f5f5;
}
.main-link a {
  display: block;
  padding: 10px 0px;
  color: #888;
  box-sizing: border-box;
}
.main .mb100 {
  margin-bottom: 100px;
}
.title-wrap {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}
.main .btn-slide {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 64px;
  height: 32px;
  border: 1px solid #eee;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.main .btn-slide button {
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  color: #666;
  cursor: pointer;
}
.main .btn-slide .swiper-button-disabled {
  color: #ccc;
}

.main-favorite {
  position: relative;
}
.main-favorite .list-favorite {
  display: flex;
  gap: 20px;
}
.main-favorite .loop-content {
  display: block;
  position: relative;
  max-width: 264px;
  /* min-width: 264px; */
}
.main-favorite .benefit-wrap,
.main-position .benefit-wrap {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 10;
}
.main-favorite .benefit,
.main-position .benefit {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-shadow: 0 0 12 rgba(0, 0, 0, 0.2);
}
.main-favorite .tag,
.main-position .tag {
  height: 24px;
}
.main-favorite .tag svg,
.main-position .tag svg {
  color: #fff;
  font-size: 24px;
}
.main-favorite .loop-content .image {
  position: relative;
  /* height: 167px; */
  font-size: 0px;
  max-height: 176px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.main-favorite .loop-content .image::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.35));
  content: "";
  border-radius: 10px 10px 0px 0px;
}
.main-favorite .loop-content .image img {
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.main-favorite .loop-content:hover .image img {
  transform: scale(1.02);
}
.main-favorite .loop-content .title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
.main-favorite .loop-content .company,
.main-favorite .loop-content .area-history {
  color: #888;
  font-size: 13px;
}

.main-nowhot {
  position: relative;
}
.main-nowhot .list-nowhot {
  /*
  display: flex;
  gap: 20px;
  */
}
.main-nowhot .loop-content {
  display: block;
  position: relative;
  max-width: 453px;
  /* min-width: 453px; */
  transition: all 0.5s;
}
.main-nowhot .loop-content:hover {
  transform: translateY(-9px);
}
.main-nowhot .loop-content .image {
  font-size: 0px;
  border-radius: 10px;
  overflow: hidden;
}
.main-nowhot .loop-content .image img {
  transition: all 0.5s;
}
.main-nowhot .loop-content:hover .image img {
  object-fit: cover;
  transform: scale(1.01);
}
.main-nowhot .loop-content .info {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  padding: 0px 20px;
}
.main-nowhot .loop-content .title {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.main-nowhot .loop-content .contents {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.main-theme {
  position: relative;
}
.main-theme .list-theme {
  display: flex;
  gap: 20px;
}
.main-theme .loop-content {
  display: block;
  border: 1px solid #eee;
  max-width: 340px;
  /* min-width: 340px; */
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.main-theme .loop-content .image {
  font-size: 0px;
  max-height: 172px;
  /* min-height: 172px; */
  overflow: hidden;
}
.main-theme .loop-content .image img {
  width: 100%;
  transition: all 0.3s;
}
.main-theme .loop-content:hover .image img {
  object-fit: cover;
  transform: scale(1.02);
}
.main-theme .loop-content .info {
  padding: 20px;
  box-sizing: border-box;
}
.main-theme .loop-content .title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 4px;
}
.main-theme .loop-content .contents {
  color: #888;
}

.main-nostress {
  position: relative;
}
.main-nostress .mob-title {
  display: none;
}
.main-nostress .select-area {
  display: flex;
  gap: 10px;
  align-items: center;
}
.main-nostress .select-area .btn-area {
  display: flex;
  height: 32px;
  padding: 0px 8px 0px 12px;
  border: 1px solid #e5e5e5;
  background: none;
  font-weight: 500;
  font-size: 15px;
  gap: 5px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.main-nostress .list-nostress {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main-nostress .loop-content {
  display: flex;
  gap: 14px;
  align-items: center;
  max-width: 31%;
  min-width: 31%;
}
.main-nostress .tag {
  width: 24px;
  visibility: hidden;
}
.main-nostress .tag svg {
  color: #ccc;
  font-size: 24px;
}
.main-nostress .loop-content .image {
  height: 90px;
  font-size: 0px;
  max-width: 120px;
  min-width: 120px;
  border-radius: 10px;
  overflow: hidden;
}
.main-nostress .loop-content .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.main-nostress .loop-content:hover .image img {
  transform: scale(1.02);
}
.main-nostress .loop-content:hover .tag {
  visibility: initial;
}
.main-nostress .loop-content .info {
  display: flex;
  width: calc(100% - 172px);
  flex-direction: column;
  flex: 1 1;
}
.main-nostress .loop-content .title {
  font-weight: 600;
  font-size: 17px;
  white-space: nowrap;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-nostress .loop-content .company,
.main-nostress .loop-content .area-history {
  color: #888;
}

.main-position {
  position: relative;
}
.main-position .list-position {
  display: flex;
  gap: 20px;
}
.main-position .loop-content {
  display: block;
  position: relative;
  max-width: 264px;
  /* min-width: 264px; */
}
.main-position .loop-content .image {
  position: relative;
  /* height: 167px; */
  font-size: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.main-position .loop-content .image::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.35));
  content: "";
  border-radius: 10px 10px 0px 0px;
}
.main-position .loop-content .image img {
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.main-position .loop-content:hover .image img {
  transform: scale(1.02);
}
.main-position .loop-content .title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
.main-position .loop-content .company,
.main-position .loop-content .area-history {
  color: #888;
  font-size: 13px;
}

/* 반응형 처리 */
@media screen and (max-width: 1600px) {
  .main {
    max-width: 1060px;
  }
  .main-nostress .loop-content {
    max-width: 47%;
    min-width: 47%;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    padding: 0px 20px;
    margin-top: 70px;
  }
  .main .mb100 {
    margin-bottom: 48px;
  }
  .main-wrap-banner {
    margin-bottom: 10px;
  }
  .main-wrap-banner .banner {
    width: 100%;
    font-size: 14px;
  }
  .main-link-wrap {
    margin-bottom: 38px;
  }
  .main-link li {
    width: 25%;
    min-width: 25%;
  }
  .main-link li:hover {
    background: none;
  }
  .main-link .icon-box {
    width: 48px;
    height: 48px;
  }
  .main-favorite .loop-content,
  .main-position .loop-content {
    /*
    max-width: 152px;
    min-width: 152px;
    */
  }
  .main-favorite .loop-content .image,
  .main-position .loop-content .image {
    /*
    height: 114px;
    max-height: 114px;
    */
  }
  .main-favorite .loop-content .title,
  .main-position .loop-content .title {
    display: -webkit-box;
    font-size: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .main-favorite .benefit-wrap,
  .main-position .benefit-wrap {
    padding: 10px;
    padding-top: 5px;
  }
  .main-favorite .benefit,
  .main-position .benefit {
    font-size: 12px;
  }
  .main-favorite .tag,
  .main-position .tag {
    height: 20px;
  }
  .main-favorite .tag svg,
  .main-position .tag svg {
    font-size: 20px;
  }
  .main-favorite .loop-content:hover .image img,
  .main-position .loop-content:hover .image img {
    transform: none;
  }
  .main-nowhot .title-wrap,
  .main-nowhot .btn-slide {
    display: none;
  }
  .main-nowhot .loop-content {
    /* max-width: 320px; */
    /* min-width: 320px; */
  }
  .main-nowhot .loop-content:hover {
    transform: translateY(0px);
  }
  .main-theme .loop-content {
    /* max-width: 220px; */
    /* min-width: 220px; */
  }
  .main-theme .loop-content .image {
    /* max-height: 110px; */
    /* min-height: 110px; */
  }
  .main-theme .loop-content .info {
    padding: 14px 16px 16px 14px;
  }
  .main-theme .loop-content .title {
    font-size: 16px;
  }
  .main-nostress h4.title {
    display: none;
  }
  .main-nostress .mob-title {
    display: block;
  }
  .main-nostress .list-nostress {
    gap: 16px;
  }
  .main-nostress .loop-content {
    max-width: 100%;
    min-width: 100%;
  }
  .main-nostress .loop-content .image {
    height: 70px;
    max-width: 94px;
    min-width: 94px;
  }
  .main-nostress .loop-content .tag {
    visibility: initial;
  }
  .main-nostress .loop-content .tag svg {
    font-size: 20px;
  }
  .title-wrap .btn-slide {
    display: none;
  }
}
